<h1>チャット一覧</h1>
<br>
<div class="list-group">
  <% @entries.each do |e| %>
    <a href="/rooms/<%= e.room_id %>" class="list-group-item"><%= e.room.name %></a>
  <% end %>
</div>
<hr>
<p><a href="/users/<%= current_user.id %>" class="btn btn-primary"><%= current_user.family_name %> <%= current_user.first_name %>さんの情報に戻る</a></p>
<p><a href="/" class="btn btn-info">トップに戻る</a></p>